@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

body {
  background: linear-gradient(0deg, rgba(192, 222, 237, 0.2), rgba(192, 222, 237, 0.2)), #ffffff !important;
}

a {
  color: black !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.primary-color {
  color: #00aced !important;
}

.primary-background {
  background-color: #00aced !important;
  color: white;
  border-color: #00aced !important;
}

.headerSection .container-fluid {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(/static/images/header_img.png);

  background-position: center;
}

.TicketFormSection .container .card {
  margin-block: 25px;
}

@media only screen and (min-width: 1023px) {
  .TicketFormSection .container .card {
    top: 50%;
    display: flex;
    transform: translate(0%, -50%);
    width: 80%;
  }
}

nav .dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -25px;
  margin-top: var(--bs-dropdown-spacer);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Navbar */

#basic-nav-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}

.loading-modal .modal-content {
  background-color: #00aced;
  border-radius: 1rem;
  width: 10rem;
  height: 10rem;
  margin-inline: auto;
}

.home-content .card.featured-card {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content .card-image {
  height: 100px;
  background-position: center;
}

input.mail-list::placeholder {
  color: white;
}

.navbar-collapse button {
  width: 300px;
}

@media only screen and (max-width: 1025px) {
  .col-mx-auto-6 {
    margin-inline: auto;
  }

  .flex-reverse-md {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 590px) {
  .d-flex-md-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

@media only screen and (min-width: 1023px) {
  .navbar-collapse button {
    width: 120px;
  }
}
